[submodule "js/3rd-party/comm.js"]
	path = js/3rd-party/comm.js
	url = https://github.com/jas-/comm.js.git
[submodule "secStore.js"]
	path = secStore.js
	url = https://github.com/jas-/secStore.js.git
